body{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 20px;
	background-image: url('../imagenes/fondo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#information{
	width: 100%;
	text-align: center;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.textRegion{
	color: white;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	margin-bottom: 0.3em;
}

.textCountry{
	color: white;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	margin-top: 0.5em;
	word-spacing: 3px;
}

@media only screen and (max-width: 1024px) {
	body{
		padding: 40px;
		margin: 0 20px;
		overflow: hidden;
	}

	#information{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.textRegion{
		font-size: 27px;
	}

	.textCountry{
		font-size: 24px;
	}
}

@media only screen and (max-width: 480px) {
	body{
		padding: 40px;
		margin: 0 20px;
	}

	#information{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.textRegion{
		font-size: 22px;
	}

	.textCountry{
		font-size: 18px;
	}
}


@media only screen and (max-width: 320px) {
	body{
		padding: 40px;
		margin: 0 20px;
	}

	#information{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.textRegion{
		font-size: 19px;
	}

	.textCountry{
		font-size: 16px;
	}
}